<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419399398074-nsmkal1qofojblqq5gv35hckdjk19p3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419399398074-nsmkal1qofojblqq5gv35hckdjk19p3f</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Jz56fT-dhffY9fUiGYGsva3Bnq4H8Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>419399398074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mvvmFireTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stores-d62e0</string>
	<key>STORAGE_BUCKET</key>
	<string>stores-d62e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419399398074:ios:d33b2c9d2f26056eee4883</string>
</dict>
</plist>